<div class='jumbotron'><h1>Welcome to my App!</h1>
<% if user_signed_in? %>
# do something Hello
<%else%>
	<p>
		<%= link_to "Log in", new_user_session_path, class:"btn btn-primary" %>
		<%= link_to "Sign up", new_user_registration_path, class:"btn btn-primary" %>
	</p>
<% end %>

</div>